/* ************************pricing list title style************************** */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
.table-main{
    width: 90%;
    margin: 3rem auto 3rem;

}

.table-main p{
    color: rgb(102, 102, 102);
}
.table-head{
    text-align: center;
}
.table-head h5{
    font-weight: 500;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 5px;
    padding: 0 55px 0 55px;
    color: #5a5a5a;
}
.table-head h5:before {
    background: #45b34a;
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 12px;
    right: 0px;
}
.table-head h5:after {
    background: #45b34a;
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 12px;
    left: 0px;
}
.table-head h1{
    text-transform: capitalize;
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 46px;
    color: #222;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin: 1rem 1rem;

}
.table-head span{
    font-weight: 700;
    font-family: "Playfair Display", serif;
    letter-spacing: 1.2px;
    color: #45b34a;
}
.table-head p{
    position: relative;
    font-size: 16px;
    line-height: 28px;
    transition: all 0.5s ease;
    margin-bottom: 1.5rem;
}

/* ****************price--section************** */
.price-section{
    background-color: rgb(240, 250, 242);
    padding: 40px;
    overflow-x: auto;
    margin: .5rem .5rem;
}
.grid-row{
    display: grid;
    grid-template-columns: 1fr repeat(4, 200px);
    grid-column-gap: 48px;
}
.grid-cell .content h6{
    color: #45b34a;
    padding-top: 1rem;
    font-size: 1.01rem;
    
}
.grid-cell .content p{
    font-size: .9rem;
    
}
.grid-cell .content{
    text-align: center;
    
}

.grid-cell .feature-title{
    padding-top: 1.5rem;
}
.grid-cell .info-indicator{
    text-align: center;
    padding-top: 1.5rem;

}

/* ****************************button */
.grid-cell .clk-btn-box{
    text-align: center;
    margin-top: 1.5rem;
}
.grid-cell .clk-btn-box .clk-btn{
    background-color: #45b34a;
    color: #fff;
    border: none;
    border-radius: 3rem;
   transition: 0.3s;
    padding: 10px 24px 10px 24px;
    font-weight: 600;
}
.grid-cell .clk-btn-box .clk-btn:hover{
    background-color: #fff;
    color: #45b34a;
    border: 1px solid #45b34a;
}




/* **********************mobile part***************** */
.mobile-header ul{
    padding: 8px 5px 8px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    display: none;
}
.mobile-header ul li a{
 
   text-decoration: none;
   color: black;
   background-color: white;
   padding: 3% 8% 3%;
   border-radius: 5rem;
   font-size: 15px;
   font-weight: 600;
   transition: .5s;

}
